<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.afjltd.tracking">

    <uses-permission
        android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application

        android:name=".AFJApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AFJTracking"
>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_debug_key" />

        <activity
            android:name="com.afjltd.tracking.view.activity.NavigationDrawerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AFJTracking.NoActionBar">

        </activity>

        <activity android:name="com.afjltd.tracking.view.activity.LoginActivity"/>
        <activity
            android:name="com.afjltd.tracking.view.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name="com.afjltd.tracking.view.activity.ScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.afjltd.tracking.websocket.VideoCallActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.afjltd.tracking.view.activity.IncomingCallScreen"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true" />

        <service
            android:name="com.afjltd.tracking.service.location.ForegroundLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_file" />
        </provider>

        <service
            android:name=".firebase.FirebaseIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="1" />

        <activity
            android:name=".callscreen.CallIncomingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/CallkitIncomingTheme">
            <intent-filter>
                <action android:name="ACTION_CALL_INCOMING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".callscreen.TransparentActivity"
            android:exported="false"
            android:theme="@style/TranslucentTheme" />

        <receiver
            android:name=".callscreen.CallIncomingBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_CALL_INCOMING" />
                <action android:name="ACTION_CALL_ACCEPT" />
                <action android:name="ACTION_CALL_DECLINE" />
                <action android:name="ACTION_CALL_ENDED" />
                <action android:name="ACTION_CALL_TIMEOUT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".callscreen.CallSoundPlayerService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>